@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --aitema-navy: #0f172a;
    --aitema-accent: #3b82f6;
    --aitema-emerald: #059669;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes ping-slow {
    75%, 100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes stroke-draw {
  to {
    stroke-dashoffset: 0;
  }
}
